<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    
    <title>Descargar videos gratis con ElectroM</title>
    <link rel="icon" type="image/png" href="https://img.icons8.com/fluency/48/000000/sample-rate.png" />

</head>

<body>
    <header class="header">
        <nav class="navbar navbar-light bg-light main_nav">
              <a class="navbar-brand logo" href="/">
                <img class="logotipo" src="https://img.icons8.com/fluency/48/000000/sample-rate.png" alt="" >
                <span>ElectroM</span>
              </a>
        </nav>
        <div class="con">
            <h1 class="encabezado">DESCARGAR VIDEOS DE YOUTUBE</h1>
            <h2 class="h2">Convierte y descarga gratis videos de Youtube</h2>
            <div class="text-center" style="padding: 20px;">
                <form action="/info-video" method="GET">
                    <div>
                        <input class="search-form" size="50" style="border:2px solid DodgerBlue" type="text" 
                            name="url"
                            
                            placeholder="Ingrese la url del video">
                    
                        <button class="btn btn-primary btn-red" type="submit">
                            Buscar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="wave" style="height: 100px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" 
        style="height: 200%; width: 100%;">
        <path d="M0.00,49.98 C167.32,-55.73 300.51,95.23 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: 
        none; fill: rgb(253, 253, 253);"></path></svg></div>
    <div class="_zluj02">

    </header>
    <main class="container">
        <section class="text-heade _1r3amtv" >
            <section class="principal row-bordered row-backbordered row-padded row-centered p-r-md p-l-md">
                <div class="col-sm-12" >
                    <div class="text-center">
                        <h3>El mejor descargador de Youtube</h3>
                        <p>
                            ElectroM es el sitio web que ayuda a descargar videos de Youtube en línea. 
                            Con solo unos simples pasos, puede descargar cualquier video de Youtube a su dispositivo en 
                            muchos formatos diferentes, y lo más importante, Todo es simple y completamente gratis.
                        </p>
                    </div>
                </div>
    
            </section>
            <section class="descripcion">
                <div class="row row-padded row-bordered homepage-grid text-center p-l-md p-r-md">
                    <div class="col-xs-12 col-sm-7 text-left">
                        <h5>INSTRUCCIONES</h5>
                        <p>1. Pega el link del video que quieres convertir.</p>
                        <p>2. Clicka el botón "Buscar" para iniciar el proceso.</p>
                        <p>3. Selecciona el formato Video/Audio que quieres descargar, luego clicka "Descargar"</p>
                    </div>
                    <div class="col-xs-12 col-sm-5 text-left">
                        <h5>CARACTERISTICAS</h5>
                        <p>*Descargas completamente gratis</p>
                        <p>*Ningun tipo de registro</p>
                        <p>*Facilidad de uso</p>
                    </div>
                </div>
            </section>
    
            <section class="imag">
                <div class="clearfix">
                </div>
                <div>
                    <div class="row row-padded row-bordered homepage-grid text-center p-l-md p-r-md featured">
                        <div class="col-sm-4">
                            <h4>
                                <img src="https://img.icons8.com/fluency/48/000000/hourglass--v2.png" alt="" width="32" height="32">
                                Más Rapido
                            </h4>
                            <p>
                                La herramienta ElectroM le permite descargar videos de 
                                Youtube rápidamente en unos simples pasos con alta calidad
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <h4>
                                <img src="https://img.icons8.com/fluency/48/000000/video-gallery.png" alt="" width="32" height="32">
                                Descarga Gratis
                            </h4>
                            <p>
                                permite convertir videos de Youtube a MP3 y descargarlos de 
                                forma ilimitada con la mejor velocidad de transferencia
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <h4>
                                <img src="https://img.icons8.com/fluency/48/000000/window-secured.png" alt="" width="32" height="32">
                                Confiable
                            </h4>
                            <p>
                                Siempre funciona! Cualquier problema se resuelve en 24 horas.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
    
        </div>
    </main>
    <footer class="footer clearfix footer-borderless">
        <p>@2021 ElectroM.com</p>
    </footer>

    
</body>
</html>